* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  /* display: flex;
  justify-content: center;
  position: relative; */
}
.container {
  background-color: #000000;
  padding: 1em;
  width: 80%;
  margin: 0 auto;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 19px;
}

.collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 1s ease;
  display: flex;
  flex-wrap: wrap;
}
.item {
  height: 10em;
  width: 10em;
  background-color: red;
  margin: 0.3em;
}
.content_show {
  max-height: 680px;
}
